#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

@font-face {
    font-family: "BDCartoonShoutRegular";
    src: url("BD_Cartoon_Shout-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
#pacman {
    height: 450px;
    width: 342px;
    margin: 20px auto;
}
#shim {
    font-family: BDCartoonShoutRegular;
    position: absolute;
    visibility: hidden;
}
.flex-container {
    display: flex;
    justify-content: center;
}
#pacman-container {
    padding: 0px 40px;
}
#face {
    width: 70px;
    margin: 0px 0px 30px 0px;
}
h1 {
    font-family: BDCartoonShoutRegular;
    text-align: center;
    color: #ed784c;
    margin-top: 100px;
}
body {
    width: 100vw;
    margin: 0px auto;
    font-family: sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
}
